/** @format */

:root {
  --deep-blue: #1a3b6d;
  --light-blue: #394090;
  /* --light-blue: #bdc4cc; */
  --white: #ffffff;
  --charcoal-gray: #333333;
  --soft-beige: #fbe8c7;
  --tertiary: #f8f9fa;
}
.comic-neue-light {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: normal;
}

.comic-neue-regular {
  font-family: "Comic Neue", cursive;
  font-weight: 500;
  font-style: normal;
}

.comic-neue-bold {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

body {
  background: var(--tertiary);
}
.navbar.scrolled {
  background-color: #fff !important;
}

.navbar.scrolled .nav-link,
.navbar.scrolled .navbar-brand,
.navbar.scrolled .navbar-toggler-icon,
.navbar.scrolled .navbar-brand span {
  color: #000 !important; /* Dark text */
}

.navbar.scrolled .nav-link:hover {
  color: #007bff !important; /* Optional hover color */
}
.dropdown-menu {
  transition: all 0.4s ease-in-out;
}

/* Add this to your stylesheet */

.overlay {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);
}

.social-media-section {
  background: var(--light-blue);
}
/* Optional blur and transparency for navbar */
/* .navbar-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6px);
  z-index: 1050;
} */

/* Prevent overlay div from blocking content */
.carousel-item .overlay {
  z-index: 1;
}
.carousel-caption {
  z-index: 2;
}

/* Responsive text control */

.card-img-top {
  height: 250px;
  object-fit: cover;
}
/* img {
  max-width: 800px;
  height: auto;
} */

.object-fit-cover {
  object-fit: cover;
}
.smooth-hover-link {
  color: #0d6efd; /* Bootstrap primary color */
  text-decoration: none;
  transition: color 0.3s ease;
  text-decoration: 0.3s ease;
}
.blue{
  color:#394090;
}

.smooth-hover-link:hover {
  color: #6610f2; /* Bootstrap purple */
  text-decoration: underline;
}
.btn:hover {
  background: var(--light-blue);
}

footer {
  background-color: var(--tertiary);
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .carousel-caption h1 {
    font-size: 2rem;
  }
  .carousel-caption p {
    font-size: 1rem;
  }
  .director-img {
    border-radius: 50% !important; /* Circle shape */
    max-width: 200px;
    height: 200px;
    margin: 0 auto 1rem;
    display: block;
  }
}
/* Show dropdown on hover for large screens */
@media (min-width: 992px) {
  .navbar .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* optional: remove dropdown animation delay */
  }
}
